<% content_for :sidebar do %>
	<%= render :partial => 'admin/utility/side_nav' %>
<% end %>

<h1>History</h1>
	
<h2>You will need:</h2>
	
<ul class="bullets">
	<li>Body Content</li>
	<li>Meta Data</li>
</ul>
	
<p><%= link_to 'Edit History', edit_content_path('history') %></p>

