<img src="/_images/primary_degenerative_disc_disease.jpg">
<div class="overview" id="default_overview">
	<h3 id="conditions_overview_tab" class="tab">Overview<span>&nbsp;</span></h3>
	<div class="tab">
		<h4>Pinpointing Back and Neck Pain</h4>
		<p>Once you can put a name to your pain, you've taken your first step toward healing. Let our caring, world-class specialists help start you on your way with our innovative, holistic approach to spinal care.</p>
		<p>Click a <strong>specific condition</strong> (at left) to get a complete description of symptoms, treatments, etc.</p>
	</div>
</div>