<div id="breadcrumbs">
	<%= link_to 'Home', admin_path %> &gt; <%= link_to 'Media Coverage', media_entries_path %> &gt; Add Item
</div>

<h1>Add Media Coverage Item</h1>

<%= render :partial => 'form' %>