<% content_for :head do %>
	<script type="text/javascript">
	document.observe('dom:loaded', function() {
		$('question_topic_name').activate();
		
		new SlugMaker('question_topic_name', 'question_topic_slug');
	});
	</script>
<% end %>

<div id="breadcrumbs">
	<%= link_to 'Home', admin_path %> &gt; <%= link_to 'Ask the Doctor', questions_path %> &gt; <%= link_to 'Topics', question_topics_path %> &gt; Add Topic
</div>

<h1>Add Topic</h1>

<%= render :partial => 'form' %>