<% content_for :head do %>
	<script type="text/javascript">
	document.observe('dom:loaded', function() {
		$('abstract_name').activate();
		
		new SlugMaker('abstract_name', 'abstract_slug');
	});
	</script>
<% end %>

<div id="breadcrumbs">
	<%= link_to 'Home', admin_path %> &gt; <%= link_to 'Research', abstracts_path %> &gt; Add Abstract
</div>

<h1>Add Abstract</h1>

<%= render :partial => 'form' %>